
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --charcoal: #1a1a1a;
    --navy: #001f3f;
    --yellow: #ebd43e;
}

.navbar {
    color: var(--yellow);


}

.hero {
    background-color: var(--charcoal);
    color: var(--yellow);
}

  body {
   
    color: var(--charcoal);
    font-family: var(--font);

  }

  
