
:root{
    --charcoal: #333333;
    --navy: #001f3f;
    --yellow: #ebd43e;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--charcoal);
    font-family: var(--font);
    color: var(--yellow);
}

h1{
    color: var(--yellow);
    font-family: var(--font);
    text-align: center;
}

.signup_con{
    width: 70vw;
    height: 80vh;
    border:  1px solid var(--yellow);
    transform: translateX(15vw)translateY(10vh);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}



.panels{
    width: 50%;
    height: 100%;
    border: 0px solid var(--yellow);
    
}

.input_group{
    border: 0px solid;
    margin: 25px auto 0 auto; /* Center horizontally and keep top margin */
    display: flex;
    flex-direction: column; 
    padding: 10px;
    gap: 10px;
    width: 70%;
}

.input_group:nth-child(1){
    transform: translateY(3vh);
}

.panels:nth-child(1){
    display: flex;
    flex-direction: column;
    

}

.panels:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
    justify-content: start;
}

input{
    padding: 8px;
    border-radius: 5px;
    border: .5px solid var(--yellow);
    background-color: var(--charcoal);
    color: var(--yellow);
}

input:focus{
    outline: none;
}

.login_opt{
    border: 0px solid;
    width: 70%;
    transform: translateX(21%);
}

p{
    color: rgb(147, 146, 146);
    font-size: 12px;
    margin-left: 1vw;
    transform: translateY(-2vh);
}

a{
    color: var(--yellow);
    text-decoration: none;
    
}

button{
    border-width: .5px;
    border: 1px solid var(--yellow);
    background-color: var(--charcoal);
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    color: var(--yellow);
    transition: .2s;
    transform: translateY(-4vh);
}

button:hover{
    background-color: var(--yellow);
    color: var(--charcoal);
}

.welcome{
    font-size: 70px;
    color: var(--charcoal);
    text-align: center;
}

.panels:nth-child(2) p{
    font-size: 25px;
    width: 70%;
    text-align: left;
    line-height: 150%;
}

select{
    padding: 8px;
    border-radius: 5px;
    border: .5px solid var(--yellow);
    background-color: var(--charcoal);
    color: var(--yellow);
}
option{
    padding: 8px;
    border-radius: 5px;
    border: .5px solid var(--yellow);
    background-color: var(--charcoal);
    color: var(--yellow);
}

form{
    transform: translateY(-10vh);
    border: 0px solid;
    padding-bottom: 100px;
    width: 100%;
}

.input_group:nth-child(3){
    transform: translateY(-3vh);
}