@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');




:root {
  --charcoal: #31363F;
  --navy: #002A45;
  --yellow: #FFD700;
  --font: 'Montserrat', sans-serif;


  }


  body {
   
    background-color: var(--background-color);




  }
