@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 
  --font: "Montserrat", sans-serif;

  }
  
  html {
    scroll-behavior: smooth;
  }
  

  input:focus{
    outline: none;
  }
  

  body {
   
    background-color: var(--charcoal);
    font-family: var(--font);

  }

